CompileFlags:
    Add:
      [
        -std=c++17,
        -Wno-documentation,
        -Wno-missing-prototypes,
      ]
Diagnostics:
  ClangTidy:
    Add:
    [
        performance-*,
        bugprone-*,
        modernize-*,
        clang-analyzer-*,
        readability-identifier*,
    ]
    Remove:
    [
        modernize-use-nodiscard,
        modernize-use-trailing-return-type,
        readability-identifier-length,
        bugprone-easily-swappable-parameters,
        bugprone-reserved-identifier,

        bugprone-narrowing-conversions,
        modernize-use-auto,
    ]
    CheckOptions:
    {
      readability-identifier-naming.VariableCase: camelCase,
      modernize-use-override.IgnoreDestructors: true
    }