[submodule "HFSM2"]
	path = demo
	url = https://github.com/Daylily-Zeleen/HFSM2.git
[submodule "gdextension_dependencies/godot-cpp"]
	path = gdextension_dependencies/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
